<%layout("/layout/boilerplate.ejs") -%>
<body>
    <div v;sdd="row" class="Error" >
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <h4 class="alert"><%=message%></h4>
        </div>
    </div>
</body>
</html>