<%layout("/layout/boilerplate.ejs")%>
<body >
    <div class="home-page">
        <div class="user">
            <h1>Hellow User!</h1>
            <h3>Vesit Your Favourite place</h3>
        </div>
        
    </div>
</body>
</html>